name: Pre-commit

on:
  pull_request:
  push:
    paths:
    - '**.py'
    - '**.yaml'
    - '**.yml'
    branches: [master, develop]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.0
